.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 10vh;
    position: sticky;
    z-index: 99;
}

.left-header{
    display: flex;   
    width: 62vw;
    padding-left: 3vw;
}

.logo-text{
    color: var( --light-text-color );
    font-size: var( --md-font-size );
    font-weight: bold;
}

.navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: inherit;
    width: 20vw;
    list-style-type: none;
    color: var( --light-text-color );
    font-size: var( --sm-font-size );
    font-style: italic;
}

.navigation > li{
    position: relative;
}

.nav-button::after{
    content: "";
    display: block;
    width: 0%;
    height: 0.3vh;
    border-color: var( --white );
    background-color: var( --light-orange);
    text-align: left;
    visibility:hidden;
    transition: 0.7s width ease, 0.7s visibility ease;
    position: absolute;
    bottom: -0.2vh;
}

.nav-button:hover::after{
    width: 100%;
    visibility: visible;
}

.nav-button:hover{
    color: var( --light-orange );
}


.user-actions{
    display: flex;
    align-items: center;
    color: var( --light-text-color );
    font-size: var( --md-font-size );
    gap: 1vw;
    padding-right: 3vw;
    width: 32vw;
    justify-content: flex-end;
}

.user-actions > span{
    cursor: pointer;
}

.user-actions > div > span:hover{
    color: var( --white )
}

.user-actions > span:hover, .user-actions > div:hover{
    color: var( --white )
}

.search-product-search-results-container{
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 1vh;
    background: transparent;
}

.search-product-container{
    display: flex;
    align-items: center;
    position: relative;
    padding: 0.5vh 0.5vw;
    height: 3.5vh;
    background-color: var( --white );
    border-radius: 5px;
    border: none;
}

.search-product-input{
    border-radius: 3px;
    border: none;
    width: 13vw;
    font-size:  var( --sm-font-size );
    color: var( --dark-text-color );
}

.search-icon{
    border-radius: 50%;
    color: var( --grey );
}

.search-results-container{
    position: absolute;
    top: 5.25vh;
    width: 100%;
    background-color: var( --white );
    border-radius: 5px; 
    z-index: 99;
}

.invisible{
    visibility: hidden;
}

.saved-products-container, .cart-container{ 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.saved-products-list:hover {
    visibility: visible;
}

.saved-products-icon:hover + .saved-products-list {
    visibility: visible;
}

.saved-products-list::after{
    position: absolute;
    content: '';
    clip-path: polygon(50% 0%, 25% 100%, 78% 100%);
    padding: 0.5vh 2vw;
    background-color: var( --white );
    top: -0.5vh;
    left: 5vw;
}


.saved-products-list::before{
    position: absolute;
    content: '';
    width: 5vw;
    height: 2vh;
    top: -1.5vh;
    left: 5vw;
    visibility: none;
}

.saved-products-list{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 7vh;
    width: 14vw;
    padding: 0.5vh 0;
    background-color: var( --white );
    border-radius: 5px; 
    max-height: 21vh;
}

.product-view{
    display: flex;
    justify-content: flex-start;
    gap: 1vw;
    align-items: center;
    padding: 0.5vh 0.5vw;
    margin: 0.5vh 0.5vw;
    border-radius: 7px;
    cursor: pointer;
    height: 7vh;
}

.product-view:hover{
    background-color: var( --light-blue );
}

.product-view:hover > .choose-product-icon{
    visibility: visible;
}

.product-view-image{
    width: 4vw;
}

.product-view-name-and-company{
    display: flex;
    flex-direction: column;
    gap: 0.20vh;
    font-size: var( --sm-font-size );
    color: var( --light-text-color );
    margin-right: auto;
}

.product-view-name{
    font-size: var( --sm-font-size );
    color: var( --dark-text-color );
}

.choose-product-icon{
    color: var( --blue );
    visibility: hidden;
} 

.product-view-image > svg{
    cursor: pointer;
}

.no-products-text{
    padding: 1vh 0.5vw;
    font-size: var( --sm-font-size );
    color: var( --dark-text-color );
}

.profile-border:hover{
    transform: scale(1.1);
}

.cart-container{
    position: relative;
    cursor: pointer;
}

.cart{
    margin-right: auto;
}

.cart-products-count{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var( --white );
    width: 0.7vw;
    height: 0.7vw;
    border-radius: 50%;
    z-index: 100;
    color: var( --light-pink );
    position: absolute;
    font-size: var( --xs-font-size );
    bottom: 2%;
    right: 5%;
}

.profile{
    width: 1.4vw;
}

.profile-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.6vw;
    height: 1.6vw;
    background-color: var( --white );
    border-radius: 50%;
}

.profile-border{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 2vw;
    height: 2vw;
    border-radius: 50%;
    background: linear-gradient(90deg, rgba(198,94,120,1) 10%, rgba(190,97,121,1) 100%);
    background:  -moz-linear-gradient(90deg, rgba(198,94,120,1) 10%, rgba(190,97,121,1) 100%);
    transition: all 0.5s ease;
    transform: scale(1);
}

.no-saved-message{
    font-size: var( --md-font-size );
    color: var( --light-pink );
    width: 100%;
    text-align: center;
}

.scroller{

    scrollbar-width: thin;
    scrollbar-color: var( --thumb-scroller-color ) var( --track-scroller-color );
}

/* Chrome */
::-webkit-scrollbar{

    width: 10px;
    overflow: auto;
    float: left;
    margin: 0 10px;
}
   
::-webkit-scrollbar-thumb {

    background: var( --thumb-scroller-color );
    border-radius: 20px;
}
  
::-webkit-scrollbar-track {

    background: var( --track-scroller-color );
    border-radius: 20px;
}
    
@media screen and (max-width: 800px) {
    .navigation{
        width: auto;
        gap: 2vw;
        padding-left: 4vw;
    }

    .user-actions{
        gap: 2vw;
    }

    .search-product-container{
        height: auto;
    }

    .cart-products-count{
        width: 7px;
        height: 7px;
        font-size: var( --xxs-font-size );
        font-weight: bold;
    }

    .profile-border{
        width: 4vw;
        height: 4vw;
    }

    .profile-container {
        width: 3vw;
        height: 3vw; 
    }

    .profile{
        width: 2.6vw;
    }

    li > a{
        font-size: 0.3rem;
    }

    .search-product-input{
        font-size:  var( --xs-font-size );
    }

    .navigation li:last-child{
        display: none;
    }

    .search-results-container{
        top: 3.25vh;
    }

    .saved-products-list::after{
        padding: 0.5vh 5vw;
        left: 5vw;
    }

    .saved-products-list{
        width: 20vw;
    }

    .saved-products-list > .product-view{
        width: 18vw
    }
}