@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;600;700;800&family=Rubik:ital,wght@0,300;0,400;0,500;0,700;0,800;1,500;1,700&display=swap');
*{
    margin: 0;
    text-decoration: none;
    font-family: rubik;
}

*:focus {
    outline: none;
}

body{
    background: rgb(4,25,66);
    background: linear-gradient(0deg, rgba(4,25,66,1) 0%, rgba(126,51,85,1) 70%, rgba(187,66,98,1) 100%); 
    min-height: 100vh;
}

:root{
    --black: #000;
    --white: #ffff;
    --blue: #0284F5;
    --light-orange: #E5C150;
    --lighter-orange: #fff5d8;
    --light-text-color: #bebdbd;
    --dark-text-color: #535353;
    --light-purple: #867D95;
    --light-pink: #BB4262;
    --dark-purple: #191733;
    --dark-blue: #050D2E;
    --grey: #959595;
    --light-grey: #BABABA;
    --lighter-grey: #F5F5F5;
    --light-blue: #F2FAFF;
    --light-green: #D1EEDB;
    --green: #509D6A;

    --light-border-color: #F5F5F5;

    --xxs-font-size: 0.4vw;
    --xs-font-size: 0.6vw;
    --sm-font-size: 0.8vw;
    --md-font-size: 1.2vw;
    --lg-font-size: 1.5vw;
    --xl-font-size: 2vw;
    --xxl-font-size: 7vw;
}

.material-icons.xs-icon{
    font-size: var( --sm-font-size );
}

.material-icons.sm-icon{
    font-size: var( --md-font-size );
}

.material-icons.md-icon{
    font-size: var( --lg-font-size );
}

.material-icons.lg-icon{
    font-size: var( --xl-font-size );
}

.none{
    display: none !important;
}

a{
    color: var( --white );
}

@media screen and (max-width: 680px) {
    :root{
        --xxs-font-size: 0.2rem;
        --xs-font-size: 0.3rem;
        --sm-font-size: 0.4rem;
        --md-font-size: 0.6rem;
        --lg-font-size: 0.75rem;
        --xl-font-size: 1rem;
        --xxl-font-size: 2rem;
    }

    .material-icons.md-icon{
        font-size: var( --xl-font-size );
    }
}