@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;600;700;800&family=Rubik:ital,wght@0,300;0,400;0,500;0,700;0,800;1,500;1,700&display=swap');
*{
    margin: 0;
    text-decoration: none;
    font-family: rubik;
}

*:focus {
    outline: none;
}

:root{
    --black: #0000;
    --white: #ffff;
    --blue: #0284F5;
    --light-orange: #E5C150;
    --lighter-orange: #fff5d8;
    --light-text-color: #D9D9D9;
    --dark-text-color: #535353;
    --light-purple: #867D95;
    --light-pink: #BB4262;
    --dark-purple: #191733;
    --dark-blue: #050D2E;
    --grey: #959595;
    --light-grey: #BABABA;
    --light-blue: #F2FAFF;

    --xs-font-size: 0.6vw;
    --sm-font-size: 0.8vw;
    --md-font-size: 1.2vw;
    --lg-font-size: 1.5vw;
    --xl-font-size: 2vw;
    --xxl-font-size: 7vw;
}

.material-icons.xs-icon{
    font-size: var( --sm-font-size );
}

.material-icons.sm-icon{
    font-size: var( --md-font-size );
}

.material-icons.md-icon{
    font-size: var( --lg-font-size );
}

.material-icons.lg-icon{
    font-size: var( --xl-font-size );
}

.none{
    display: none !important;
}

a{
    color: var( --white );
}